<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>表单输入绑定</h1>
        <h2>基础用法</h2>
        <p>你可以用 v-model 指令在表单 input、textarea 及select 元素上创建双向数据绑定。它会根据控件类型自动选取正确的方法来更新元素。尽管有些神奇，但 v-model 本质上不过是语法糖。它负责监听用户的输入事件以更新数据，并对一些极端场景进行一些特殊处理。</p>
        <p>v-model 会忽略所有表单元素的 value、checked、selected 特性的初始值而总是将 Vue 实例的数据作为数据来源。你应该通过 JavaScript 在组件的 data 选项中声明初始值。</p>
        <p>v-model 在内部使用不同的属性为不同的输入元素并抛出不同的事件：</p>
        <p>text 和 textarea 元素使用 value 属性和 input 事件；</p>
        <p>checkbox 和 radio 使用 checked 属性和 change 事件；</p>
        <p>select 字段将 value 作为 prop 并将 change 作为事件。</p>
        <p>对于需要使用输入法 (如中文、日文、韩文等) 的语言，你会发现 v-model 不会在输入法组合文字过程中得到更新。但是在输入以后会更新。如果你也想处理这个过程，请使用 input 事件。</p>
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
        <h3>多行文本</h3>
        <p style="white-space: pre-line;">{{message}}</p>
        <br>
        <textarea v-model="message"></textarea>
        <p>在文本区域插值text并不会生效，应用 `v-model` 来代替。</p>
        <h3>复选框</h3>
        <p>单个选项框，绑定到布尔值</p>
        <input type="checkbox" id="checkbox" v-model="checked">
        <p>多个选项框，绑定到数组</p>
        <div id='example-3'>
            <input type="checkbox" id="0" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="1" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="2" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
        <h3>单选按钮</h3>
        <div>
            <input type="radio" id="one" value="one" v-model="picked">
            <label for="one">One</label>
            <input type="radio" id="two" value="two" v-model="picked">
            <label for="one">two</label>
            <input type="radio" id="three" value="three" v-model="picked">
            <label for="one">three</label>
            <br>
            <label for="">{{picked}}</label>
        </div>
        <h3>选择框</h3>
        <p>单选</p>
        <div id="example-5">
            <select v-model="selected">
                <option disabled value="">请选择</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
        <p>如果 v-model 表达式的初始值未能匹配任何选项,select元素将被渲染为“未选中”状态。在 iOS 中，这会使用户无法选择第一个选项。因为这样的情况下，iOS 不会触发 change 事件。因此，更推荐像上面这样提供一个值为空的禁用选项。</p>
        <p>多选时绑定到数组</p>
        <div>
            <select v-model="selectm" multiple style="width:50px">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>selected:{{selectm}}</span>
        </div>
        <p>用 v-for 渲染的动态选项：</p>
        <select v-model="selected">
            <option v-for="o in options">{{o}}</option>
        </select>
        <label>{{selected}}</label>
        <h2>值绑定</h2>
        <p>对于单选按钮，复选框及选择框的选项，v-model 绑定的值通常是静态字符串 (对于复选框也可以是布尔值)：</p>
        <!-- 当选中时，`picked` 为字符串 "a" -->
        <input type="radio" v-model="picked" value="a">

        <!-- `toggle` 为 true 或 false -->
        <input type="checkbox" v-model="toggle">

        <!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
        <select v-model="selected">
            <option value="abc">ABC</option>
        </select>
        <p>但是有时我们可能想把值绑定到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且这个属性的值可以不是字符串。</p>
        <h3>复选框 true-value 和 false-value 把字符串直接给toggle</h3>
        <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">
        <label >toggle:{{toggle}}</label>
        <p>这里的 true-value 和 false-value 特性并不会影响输入控件的 value 特性，因为浏览器在提交表单时并不会包含未被选中的复选框。如果要确保表单中这两个值中的一个能够被提交，(比如“yes”或“no”)，请换用单选按钮。</p>
        <h3>单选按钮 v-bind:value，把value后面的字符串对应的变量的值给picked</h3>
        <input type="radio" v-model="picked" v-bind:value="message">
        <label >pick:{{picked}}</label>
        <h3>选择框的选项</h3>
        <select v-model="selected">
            <option v-bind:value="{number:123}">123</option>
        </select>
        <label >selected:{{selected}}</label>
        <h2>修饰符</h2>
        <h3>.lazy</h3>
        <p>在默认情况下，v-model 在每次 input 事件触发后将输入框的值与数据进行同步 (除了上述输入法组合文字时)。你可以添加 lazy 修饰符，从而转变为使用 change 事件进行同步.其实就是鼠标离开输入框，且内容改变了</p>
        <input v-model.lazy="message" >
        <label >{{message}}</label>
        <h3>.number</h3>
        <p>如果想自动将用户的输入值转为数值类型，可以给 v-model 添加 number 修饰符：</p>
        <input type="number" v-model.number="age">
        <h3>.trim</h3>
        <p>如果要自动过滤用户输入的首尾空白字符，可以给 v-model 添加 trim 修饰符：</p>
        <input type="text" v-model.trim="inputtrim">
        <h2>在组件上使用 v-model</h2>
        <p>如果你还不熟悉 Vue 的组件，可以暂且跳过这里。</p>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello World!',
                checked: true,
                checkedNames: [],
                picked: '',
                selected: '',
                selectm: [],
                options: ['A', 'B', 'C'],
                toggle:'',
                age:'',
                inputtrim:''
            },
            methods:{
                greet:function(){
                    alert('hello');
                }
            }
        });

    </script>
</body>

</html>
