<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>列表渲染</h1>
        <h2>v-for把一个数组对应为一组元素</h2>
        <p>我们用 v-for 指令根据一组数组的选项列表进行渲染。v-for 指令需要使用 item in items 形式的特殊语法，items 是源数据数组并且 item 是数组元素迭代的别名。</p>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <p>在 v-for 块中，我们拥有对父作用域属性的完全访问权限。v-for 还支持一个可选的第二个参数为当前项的索引。比如下面的index</p>
        <ul>
            <li v-for="(item,index) in items">
                {{message}} - {{index}} - {{item.message}}
            </li>
        </ul>
        <p>你也可以用 of 替代 in 作为分隔符，item of items 因为它是最接近 JavaScript 迭代器的语法：</p>
        <div v-for="item of items">{{item.message}}</div>
        <h2>一个对象的 v-for</h2>
        <p>你也可以用 v-for 通过属性值value迭代。</p>
        <ul>
            <li v-for="value in obj">{{value}}</li>
        </ul>
        <p>可以使用第二个参数键名key,第三个参数索引index</p>
        <ul>
            <li v-for="(value,key,index) in obj">{{index}}-{{key}}:{{value}}</li>
        </ul>
        <h2>key</h2>
        <p>当 Vue.js 用 v-for 正在更新已渲染过的元素列表时，它默认用“就地复用”策略。如果数据项的顺序被改变，Vue 将不会移动 DOM 元素来匹配数据项的顺序， 而是简单复用此处每个元素，并且确保它在特定索引下显示已被渲染过的每个元素。</p>
        <div v-for="item in items" :key="item.id">
            {{item.message}}
        </div>
        <h2>数组更新检测</h2>
        <h3>变异方法--修改数组的方法</h3>
        <ul>
            <li>push()</li>
            <li>pop()</li>
            <li>shift()</li>
            <li>unshift()</li>
            <li>splice()</li>
            <li>sort()</li>
            <li>reverse()</li>
        </ul>
        <h4>替换数组-不修改原来数组，但是返回新数组的方法</h4>
        <ul>
            <li>fliter()</li>
            <li>concat()</li>
            <li>slice()</li>
        </ul>
        <p>你可能认为这将导致 Vue 丢弃现有 DOM 并重新渲染整个列表。幸运的是，事实并非如此。Vue 为了使得 DOM 元素得到最大范围的重用而实现了一些智能的、启发式的方法，所以用一个含有相同元素的数组去替换原来的数组是非常高效的操作。</p>
        <h3>注意事项</h3>
        <p>由于 JavaScript 的限制，Vue 不能检测以下变动的数组：</p>
        <p>利用索引设置一个项，例如：vm.items[indexOfItem] = newValue</p>
        <p>修改数组的长度，例如：vm.items.length = newLength</p>
        <p>为了解决第一类问题，以下3种方式都可以实现和 vm.items[indexOfItem] = newValue 相同的效果，同时也将触发状态更新：</p>
        <p>Vue.set(vm.items,index,newValue)</p>
        <p>vm.items.splice(index,1,newValue)</p>
        <p>Vue.$set(vm.items,index,newValue)</p>
        <p>解决第二类问题，可以使用splice</p>
        <p>vm.items.splice(newLength)</p>
        <h2>对象更改检测注意事项</h2>
        <p>还是由于 JavaScript 的限制，Vue 不能检测对象属性的添加或删除：比如vm.b=5没有更新dom</p>
        <p>{{b}}</p>
        <p>对于已经创建的实例，Vue 不能动态添加根级别的响应式属性。但是，可以使用 Vue.set(object, key, value) 方法向嵌套对象添加响应式属性。例如，Vue.set(vm.obj, 'health', 27)</p>
        <p>你还可以使用 vm.$set 实例方法，它只是全局 Vue.set 的别名</p>
        <p>vm.$set(vm.userProfile, 'age', 27)</p>
        <p>有时你可能需要为已有对象赋予多个新属性，比如使用 Object.assign() 或 _.extend()。在这种情况下，你应该用两个对象的属性创建一个新的对象。所以，如果你想添加新的响应式属性</p>
        <p>vm.obj = Object.assign({},vm.obj,{hobby:'sing'})</p>
        <h2>显示过滤排序结果:使用计算属性或者methods</h2>
        <p>需要显示数组的过滤、排序副本，而不改变原始数据，可以通过创建计算属性实现</p>
        <li v-for="a in filterArray">{{a}}</li>
        <p>在计算属性不适用的情况下 (例如，在嵌套 v-for 循环中) 你可以使用一个 method 方法：</p>
        <ul v-for="item in num">
            <li v-for="i in even(item)">{{i}}</li>
        </ul>
        <h2>一段取值范围的v-for</h2>
        <p>v-for 也可以取整数。在这种情况下，它将重复多次模板。</p>
        <div> <span v-for="n in 10"> {{n}} </span> </div>
        <h2>v-for on a template</h2>
        <p>类似于 v-if，你也可以利用带有 v-for 的 template渲染多个元素。比如：</p>
        <ul>
            <template v-for="item in items">
                <li>{{item.message}}</li>
                <li class="divider" role="presentation"></li>
            </template>
        </ul>
        <h2>v-for with v-if</h2>
        <p>不推荐同时使用v-for v-if</p>
        <li v-for="todo in todos" v-if="!todo.isComplete">
            {{todo}}
        </li>
        <p>而如果你的目的是有条件地跳过循环的执行，那么可以将 v-if 置于外层元素 (或 template)上。如：</p>
        <ul v-if="todos.length">
            <li v-for="todo in todos">
                {{ todo }}
            </li>
        </ul>
        <p v-else>No todos left!</p>
        <h2>一个组件的 v-for</h2>
        <p>在自定义组件里，你可以像任何普通元素一样用 v-for 。2.2.0+ 的版本里，当在组件中使用 v-for 时，key 现在是必须的。</p>
        <p>然而，任何数据都不会被自动传递到组件里，因为组件有自己独立的作用域。为了把迭代数据传递到组件里，我们要用 props ：</p>
        <p>不自动将 item 注入到组件里的原因是，这会使得组件与 v-for 的运作紧密耦合。明确组件数据的来源能够使组件在其他场合重复使用</p>
        <p>注意这里的 is="todo-item" 属性。这种做法在使用 DOM 模板时是十分必要的，因为在 <ul> 元素内只有 <li> 元素会被看作有效内容。这样做实现的效果与 <todo-item> 相同，但是可以避开一些潜在的浏览器解析错误。查看 DOM 模板解析说明 来了解更多信息</p>
        <p>具体例子等看完组件回来看</p>

    <script>
      
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello World!',
                items: [{

                    message: 'apple'
                }, {

                    message: 'banana'
                }, {

                    message: 'orange'
                }],
                obj: {
                    name: "xiaoming",
                    age: "23",
                    sex: "Male"
                },
                array: [1, 2, 3, 4, 5, 6, 7],
                num: [
                    [1, 2, 3],
                    [2, 3, 4]
                ],
                todos: [1, 2, 3, 4],

            },
            computed: {
                filterArray: function() {
                    return this.array.filter(function(item, index, array) {
                        return item % 2 == 0;
                    })
                }
            },
            methods: {
                even: function(num) {
                    return num.filter(function(a, b, c) {
                        return a % 2 == 0;
                    })
                }
            }
        });

    </script>
</body>

</html>
